:root{
    --color-bg-primary:#393939;
    --color-bg-secondary:#2b2b2b;
    --color-tertiary:#666666;
    --color-bg-display:#3b3b3b;
    --color-text-display:#c5f3e0;
}


*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    background: var(--color-bg-primary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    min-width: 350px;
    background: var(--color-bg-secondary);
    padding: 20px 8px;
    border-radius: 15px;
    box-shadow:5px 5px 15px rgba(0,0,0,0.5),
               inset -2px -2px 10px rgba(255,255,255,0.5);
}

.calculator form input{
    border: 0;
    outline: 0;
    width: 60px;
    height:60px;
    border-radius: 50px;
    box-shadow: 5px 5px 4px rgba(0,0,0,0.2);
    background: var(--color-tertiary);
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    margin:10px;
}

form .display {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
    position: relative;
}

form .display input{
    text-align: right;
    flex: 1;
    font-size: 40px;
    transform: scaleY(1.4);
    box-shadow: none;
}

form .display #display{
    padding:80px 15px 30px 15px;
    border-radius: 15px;
    box-shadow: inset 1px 0 10px rgba(0,0,0,0.2);
    background: var(--color-bg-display);
    color: var(--color-text-display);
}

form input.equal {
    width:145px;
}

#prev {
    width: 85%;
    text-align: right;
    color: #ddd;
    z-index: 1;
    font-size : 10px;
    height:10px;
    padding: 10px 8px;
    font-size: 10px;
    position: absolute;
    background: transparent;
    top:40px;
    right: 10px;
}
